  <div class="row mt-5 row-content">
   <div class="mt-4 mx-3">
    <h2>みんなのノート</h2>
   </div>
    <div class="col-md-12 d-flex justify-content-end border-bottom">
     <%= render 'layouts/search', note: @note %>
    </div>
    
    <div class="col-md-12">
     <%= render 'layouts/note_index', note: @note %>
    </div>
  </div>
