<h1>みんなのノート</h1>

<table class="table">
  <thead>
   <tr>
     <th>ノート一覧</th>
     <th colspan="2"></th>
   </tr>
  </thead>
  <tboby>
   <% @note.each do |list| %>
    <tr>
      <td><%= list.created_at.strftime('%Y/%m/%d') %></td>
      <td><%= list.user.name %></td>
      <td><%= link_to list.title, note_path(list.id) %></td>
    </tr>
   <%end%>
   </tboby>
 </table>