<div class="row mt-5 row-content">
 <h2>検索結果</h2>
 <div class="col-md-10 d-flex justify-content-end border-bottom">
  <%= render 'layouts/search', note: @notes %>
 </div>
 <div class="col-md-12">
  <%= render 'user/notes/note_index', note: @notes %>
 </div>
</div>
