<div class="row mt-5 row-content">
  <h2>検索結果</h2>
    <div class="col-md-12 d-flex justify-content-end border-bottom">
     <%= render 'layouts/search', note:@report %>
    </div>
 <%= render 'admin/reports/list', data:@lists %>
</div>