<h1>管理者トップ</h1>

<div>未対応の報告件数</div>

<div>ノート:<%= link_to @notes&.count, admin_notes_path %>件</div>
<div>コメント:<%= link_to @comments&.count, admin_comments_path %>件</div>
<div>学習記録:<%= link_to @records&.count, admin_records_path %>件</div>
