<div class="row mt-5 row-content">
  <h2>フォロー中</h2>
  <table class="table border-bottom">
    <thead>
      <tr>
        <th>ユーザー名</th>
        <th>自己紹介</th>
        <th>最新のノート</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% if @users.present? %> 
        <% @users.each do |user| %>
          <tr>
            <td><%= link_to user.name, user_path(user) %></td>
            <td><%= truncate(user.introduction, length: 30) %></td>
            <% if user.notes.present? %>
              <td><%= user.notes.first.created_at.strftime('%Y/%m/%d') %></br>
                  <%= link_to user.notes.first.title, note_path(user.notes.first.id) %>
              </td>
            <% else %>
              <td>最新のノートはありません</td>
            <% end %>
          </tr>
        <% end %>
      <% else %>
       <td>まだフォローをしていません。</td>
      <% end %>
    </tbody>
  </table>
</div>
