<div class="row mt-5 row-content">
  <h2><%= @user.name %>さんのフォロワーリスト</h2>
  <table class="table border-bottom">
    <thead>
      <tr>
        <th>ユーザー名</th>
        <th>自己紹介</th>
        <th>最新のノート</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render "user/users/follow_users", follows: @followers %>
    </tbody>
  </table>
</div>
