 <div class="col-md-11 my-2">
  <h3 class="text-center">学習記録</h3>
   <div class="list-group-item border">
     <div class="my-3">
       <strong>学習日：</strong> <%= record.learning_day %>
     </div>
     <div class="my-3">
       <strong>ユーザー名：</strong> <%= record.user.name %>
     </div>
     <div class="my-3">
       <strong>学習時間：</strong> <%= record.study_time %>時間
     </div>
     <div class="my-3">
       <strong>コメント：</strong> <%= record.comment %>
     </div>
   </div>
 </div>
