<div class="row mt-5 row-content">
  <h2>不適切報告一覧</h2>
    <!--<div class="col-md-12 d-flex justify-content-end border-bottom">-->
    <!-- %= render 'layouts/search', note:@report %>-->
    <!--</div>-->
    <div class="col-md-12 d-flex border-bottom">
     <%= render 'list', data:@lists %>
    </div>
    <div class="col-md-12 d-flex justify-content-center my-3">
      <%= paginate @lists, theme: 'bootstrap-5' %>　
    </div>
</div>