<h3>ルール</h3>

<h5>下記ルールをよく読み、マナーを守ってご利用ください。</br>
    運営側でルールが守られていないと判断した場合、アカウント停止等の対応を取らせて頂く場合があります。
</h5>

<ul>
  <li>他者との交流が可能というサイトの特性上、12歳未満(12歳の小学生含む)の利用をお断りさせて頂きます。
  <li>未成年者(18歳の高校生を含む)の場合は、必ず保護者が同意の上ご利用下さい。
  <li>下記行為は禁止です。
    <ol>
    　<li>自分自身や他者の個人情報を投稿する行為</li>
    　<li>誹謗中傷や侮辱等、およびそれを助長する内容を投稿する行為</li>
    　<li>本人が希望していないにも関わらず、ノートや学習時間等の投稿内容を公開するよう迫る行為</li>
    　<li>公序良俗に反する行為、法令や条例に違反する行為、犯罪行為、それらのおそれがある行為</li>
  　</ol>
　</li>
  <li>ノートやタイムラインに投稿する内容はプログラミング学習に関わるものにしましょう。</br>
     また、個人が特定できてしまう内容を投稿することは非常に危険な為、控えましょう。
　</li>
</ul>