<table class="table">
  <tboby>
   <% if @note.present? %> 
    <% @note.each do |list| %>
     <tr>
       <td><%= list.created_at.strftime('%Y/%m/%d') %></td>
       <td><%= list.user.name %></td>
       <td><%= link_to list.title, note_path(list.id) %></td>
       <th><i class="fa-solid fa-heart"></i><%= list.note_favorites.count %></th>
     </tr>
    <%end%>
   <% else %>
     <!--ノートがなければ下記を表示-->
     <td>ノートがありません</td>
   <%end%>
   </tboby>
 </table>